@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Smooch Sans', sans-serif;
}

/* HERO
#hero-header {
    height: 100vh;
    width: 100vw;
    background-color: rgb(185, 206, 178);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

#primary-header {
    height: calc( (100vh - 527px + 4px) / 2);  /* 527 is bg image height*/
    min-height: 100px;
    background-color: rgb(185, 206, 178);
    display: flex;
    align-items: center;
    overflow-y: hidden;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 30px 30px;
}

.logo-letter {
    font-size: 80px;
    margin-left: 30px;
}

#sub-header {
    height: calc( (100vh - 527px + 4px) / 2);
    background-color: rgb(29, 29, 29);
}

#hero-header h1 {
    align-self: flex-start;
    font-size: 5em;
}

/* SIDESCROLLER */
#canvas-container {
    display:flex;
    justify-content: center;
}

#game-canvas-bottom-separator {
    height: 30px;
    background-color: black;
}

/* MAIN */
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* JOURNEY */
#journey-container {
    padding: 40px 0;
    border-bottom: 1px solid lightgray;
    font-size: 1.2em;
    display: none;
}

#journey-container h1 {
    text-align: center;
}

.journey-entry {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-between;
}

.placeholder-thumbnail {
    width: 120px;
    height: 100px;
    background-color: black;
    margin-right: 40px;
    border-radius: 10px;
}

.journey-title {
    margin-bottom: 8px;
}

.journey-content {
    width: 600px;
}

.journey-content p {
    margin-top: 10px;
}

/* PROJECTS */
#projects-container {
    margin-top: 30px;
    font-size: 1.2em;
}

#projects-header {
    text-align: center;
    margin-bottom: 30px;
}

.projects-row {
    display: flex;
}

.project-entry {
    margin: 0 10px 30px 10px;
    width: 250px;
    border: 1px solid lightgray;
}

.project-image {
    height: 150px;
    width: 248px;
    background-color: black;
}

.project-info {
    padding: 15px;
}

.project-links ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px;
    margin-bottom: 10px;
}

#avatar-image-test {
    width: 500px;
    height: 100px;
    background-image: url("assets/avatar-image.png");
}