@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

:root {
    --dark: rgb(25, 25, 25);
}

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    /* font-family: 'Abel', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Smooch Sans', sans-serif;
    background-color: var(--dark)
}

#primary-header {
    height: calc((100vh - 527px + 4px) / 2);
    /* 527 is bg image height*/
    min-height: 120px;
    /* background-color: rgb(185, 206, 178); */
    /* background-color: rgb(177, 199, 183); */
    background-color: var(--dark);
    color: lightgray;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 30px 30px;
}

#name-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-separator {
    height: 1px;
    width: 100%;
    border: 1px solid lightslategray;
}

.header-name {
    font-size: 50px;
}

.header-title {
    font-size: 30px;
}

@media only screen and (max-width: 1100px) {
    #primary-header {
        height: 120px;
    }

    .header-name {
        font-size: 40px;
    }

    .header-title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .header-name {
        font-size: 30px;
    }

    .header-title {
        font-size: 20px;
    }
}

#sub-header {
    height: calc((100vh - 527px + 4px) / 2);
    background-color: var(--dark);
}

/* SIDESCROLLER */
#canvas-container {
    display: flex;
    justify-content: center;
    position: relative;
}

#game-canvas-bottom-separator {
    height: 30px;
    background-color: black;
}

/* MAIN */
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 253);
}

/* JOURNEY */
#journey-container {
    padding: 40px 0;
    border-bottom: 1px solid lightgray;
    font-size: 1.2em;
    display: none;
}

#journey-container h1 {
    text-align: center;
}

.journey-entry {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-between;
}

.placeholder-thumbnail {
    width: 120px;
    height: 100px;
    background-color: black;
    margin-right: 40px;
    border-radius: 10px;
}

.journey-title {
    margin-bottom: 8px;
}

.journey-content {
    width: 600px;
}

.journey-content p {
    margin-top: 10px;
}

/* PROJECTS */
#projects-container {
    margin-top: 80px;
    font-size: 1.2em;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#projects-header {
    text-align: center;
    margin-bottom: 80px;
}

.projects-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project-entry {
    margin: 0 10px 30px 10px;
    min-height: 520px;
    width: 350px;
    border: 1px solid lightgray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(251, 251, 251);
}

.img-container {
    background-color: black;
    width: 350px;
    height: 290px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image {
    width: 350px;
    height: 240px;
    object-fit: cover;
}

.project-video {
    display: none;
    background-color: black;
    height: 290px;
    width: 350px;
}

.project-entry:hover > .project-video,
.project-entry:focus > .project-video {
    display: block;
}

.project-entry:hover > .img-container,
.project-entry:focus > .img-container {
    display: none;
}

/* forces wrap after 2 project entries */
/* this should only be used on smaller screens */
.break {
    flex-basis: 100%;
    height: 0;
    display: none;
}

@media only screen and (max-width: 900px) {
    .break {
        flex-basis: 100%;
        height: 0;
        width: 0;
        display: block;
    }
}

.project-info {
    padding: 0 15px 15px 15px;
}

.project-title {
    text-align: center;
    margin-bottom: 10px;
}

.project-links {
    padding: 0 10px 10px 10px;
}

.project-links ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

/* movement arrows */
.arrows {
    height: 60px;
    width: 60px;
    position: absolute;
}

.arrows:hover {
    cursor: pointer;
}

#left-arrow {
    background-image: url("../assets/left-arrow.png");
    top: 50%;
    left: 0;
    margin-left: 10px;
}

#right-arrow {
    background-image: url("../assets/right-arrow.png");
    top: 50%;
    right: 0;
    margin-right: 10px;
}

/* use on arrows so that holding touchscreen does not bring up options */
.unselectable {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    -webkit-touch-callout: none;
}